<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Lead Developer</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>AprilTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.luki.arizonaprefs</string>
			<key>action</key>
			<string>luki</string>
			<key>label</key>
			<string>Luki120</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Wizard</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>AprilTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.luki.arizonaprefs</string>
			<key>action</key>
			<string>wizard</string>
			<key>label</key>
			<string>RuntimeOverflow</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Help With Specifiers</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>AprilTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.luki.arizonaprefs</string>
			<key>action</key>
			<string>miguelaka</string>
			<key>label</key>
			<string>Miguelaka95</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Epic Blur</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>AprilTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.luki.arizonaprefs</string>
			<key>action</key>
			<string>ethn</string>
			<key>label</key>
			<string>ETHN</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Pretty Icon And Banner</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>AprilTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.luki.arizonaprefs</string>
			<key>action</key>
			<string>ben</string>
			<key>label</key>
			<string>Ben Sova</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Pretty Twitter Cells</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>AprilTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.luki.arizonaprefs</string>
			<key>action</key>
			<string>GCGamer</string>
			<key>label</key>
			<string>MrGCGamer</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Tester</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>AprilTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.luki.arizonaprefs</string>
			<key>action</key>
			<string>Kenny</string>
			<key>label</key>
			<string>Kennyroo</string>
		</dict>
	</array>
	<key>title</key>
	<string>April</string>
</dict>
</plist>