<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>AprilPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.luki.aprilprefs</string>
			<key>key</key>
			<string>yes</string>
			<key>label</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>GcImagePickerCell</string>
			<key>label</key>
			<string>Choose Image</string>
			<key>defaults</key>
			<string>me.luki.aprilprefs</string>
			<key>key</key>
			<string>bImage</string>
			<key>usesPhotos</key>
			<true/>
			<key>usesVideos</key>
			<false/>
			<key>videoQuality</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.luki.aprilprefs</string>
			<key>key</key>
			<string>blur</string>
			<key>label</key>
			<string>Blur</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1</real>
			<key>defaults</key>
			<string>me.luki.aprilprefs</string>
			<key>key</key>
			<string>intensity</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>1</real>
			<key>showValue</key>
			<true/>
			<key>label</key>
			<string>Strength</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.luki.aprilprefs</string>
			<key>key</key>
			<string>alphaEnabled</string>
			<key>label</key>
			<string>Enable Alpha</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1</real>
			<key>defaults</key>
			<string>me.luki.aprilprefs</string>
			<key>key</key>
			<string>cellAlpha</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>1</real>
			<key>showValue</key>
			<true/>
			<key>label</key>
			<string>Cell Background Alpha</string>
		</dict>
	</array>
	<key>title</key>
	<string>AprilPrefs</string>
</dict>
</plist>