<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.luki.aprilprefs</string>
			<key>key</key>
			<string>yes</string>
			<key>label</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>GcImagePickerCell</string>
			<key>label</key>
			<string>Choose Image</string>
			<key>defaults</key>
			<string>me.luki.aprilprefs</string>
			<key>PostNotification</key>
			<string>me.luki.aprilprefs/imageChanged</string>
			<key>key</key>
			<string>bImage</string>
			<key>usesPhotos</key>
			<true/>
			<key>usesVideos</key>
			<false/>
			<key>videoQuality</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.luki.aprilprefs</string>
			<key>PostNotification</key>
			<string>me.luki.aprilprefs/blurSet</string>
			<key>key</key>
			<string>blur</string>
			<key>label</key>
			<string>Blur</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>defaults</key>
            <string>me.luki.aprilprefs</string>
            <key>default</key>
            <string>2</string>
            <key>key</key>
            <string>blurType</string>
            <key>validValues</key>
            <array>
                <string>0</string>
                <string>1</string>
                <string>2</string>
            </array>
            <key>validTitles</key>
            <array>
            	<string>Light</string>
                <string>Dark</string>
                <string>Epic</string>
            </array>
			<key>id</key>
            <string>SegmentCell</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1</real>
			<key>defaults</key>
			<string>me.luki.aprilprefs</string>
			<key>key</key>
			<string>intensity</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>1</real>
			<key>showValue</key>
			<true/>
			<key>label</key>
			<string>Strength</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.luki.aprilprefs</string>
			<key>key</key>
			<string>alphaEnabled</string>
			<key>label</key>
			<string>Enable Alpha</string>
			<key>PostNotification</key>
			<string>me.luki.aprilprefs/alphaChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1</real>
			<key>defaults</key>
			<string>me.luki.aprilprefs</string>
			<key>key</key>
			<string>cellAlpha</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>1</real>
			<key>showValue</key>
			<true/>
			<key>label</key>
			<string>Cell Background Alpha</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.luki.aprilprefs</string>
			<key>key</key>
			<string>setGradientAsBackground</string>
			<key>label</key>
			<string>Gradient</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>GcColorPickerCell</string>
			<key>label</key>
			<string>First Color</string>
			<key>defaults</key>
			<string>me.luki.aprilprefs</string>
			<key>PostNotification</key>
			<string>me.luki.aprilprefs/gradientChanged</string>
			<key>key</key>
			<string>gradientFirstColor</string>
			<key>supportsAlpha</key>
			<true/>
			<key>fallback</key>
			<string>ffffff</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>GcColorPickerCell</string>
			<key>label</key>
			<string>Second Color</string>
			<key>defaults</key>
			<string>me.luki.aprilprefs</string>
			<key>PostNotification</key>
			<string>me.luki.aprilprefs/gradientChanged</string>
			<key>key</key>
			<string>gradientSecondColor</string>
			<key>supportsAlpha</key>
			<true/>
			<key>fallback</key>
			<string>ffffff</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>AprilTableCell</string>
			<key>detail</key>
			<string>AprilContributorsRootListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Contributors</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>AprilTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.luki.arizonaprefs</string>
			<key>action</key>
			<string>discord</string>
			<key>label</key>
			<string>Chat With Us On Discord</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>AprilTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.luki.arizonaprefs</string>
			<key>action</key>
			<string>paypal</string>
			<key>label</key>
			<string>Donate To Luki 🥰</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>AprilTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.luki.arizonaprefs</string>
			<key>action</key>
			<string>github</string>
			<key>label</key>
			<string>Source Code 🔥</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>You Might Like</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>AprilTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.luki.arizonaprefs</string>
			<key>action</key>
			<string>arizona</string>
			<key>label</key>
			<string>Arizona</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>AprilTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.luki.arizonaprefs</string>
			<key>action</key>
			<string>meredith</string>
			<key>label</key>
			<string>Meredith</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<real>1</real>
			<key>footerText</key>
			<string>made by Luki with ❤️</string>
			<key>isStaticText</key>
			<true/>
		</dict>
	</array>
	<key>title</key>
	<string>April</string>
</dict>
</plist>