<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cellClass</key>
				<string>GcDuoTwitterCell</string>
				<key>firstLabel</key>
				<string>Luki120</string>
				<key>firstAccount</key>
				<string>Lukii120</string>
				<key>firstURL</key>
				<string>https://avatars.githubusercontent.com/u/74214115?v=4</string>
				<key>secondLabel</key>
				<string>Ben</string>
				<key>secondAccount</key>
				<string>BenOwl3</string>
				<key>secondURL</key>
				<string>https://pbs.twimg.com/profile_images/1388934413103161345/et7cnoR1_400x400.jpg</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>me.luki.aprilprefs</string>
				<key>key</key>
				<string>yes</string>
				<key>label</key>
				<string>Enable</string>
				<key>id</key>
				<string>YesSwitch</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>id</key>
				<string>GroupCell-1</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>GcImagePickerCell</string>
				<key>label</key>
				<string>Choose Image</string>
				<key>defaults</key>
				<string>me.luki.aprilprefs</string>
				<key>PostNotification</key>
				<string>me.luki.aprilprefs/imageChanged</string>
				<key>id</key>
				<string>Image</string>
				<key>key</key>
				<string>bImage</string>
				<key>usesPhotos</key>
				<true/>
				<key>usesVideos</key>
				<false/>
				<key>videoQuality</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>id</key>
				<string>GroupCell-2</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>me.luki.aprilprefs</string>
				<key>key</key>
				<string>blur</string>
				<key>label</key>
				<string>Blur</string>
				<key>id</key>
				<string>BlurSwitch</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSegmentCell</string>
				<key>height</key>
				<real>50</real>
				<key>defaults</key>
				<string>me.luki.aprilprefs</string>
				<key>default</key>
				<string>2</string>
				<key>key</key>
				<string>blurType</string>
				<key>validValues</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>validTitles</key>
				<array>
					<string>Light</string>
					<string>Dark</string>
					<string>Epic</string>
				</array>
				<key>id</key>
				<string>SegmentCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSliderCell</string>
				<key>default</key>
				<real>1</real>
				<key>defaults</key>
				<string>me.luki.aprilprefs</string>
				<key>key</key>
				<string>intensity</string>
				<key>min</key>
				<real>0</real>
				<key>max</key>
				<real>1</real>
				<key>showValue</key>
				<true/>
				<key>id</key>
				<string>BlurValue</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>id</key>
				<string>GroupCell-3</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>me.luki.aprilprefs</string>
				<key>key</key>
				<string>alphaEnabled</string>
				<key>label</key>
				<string>Table Cell Alpha</string>
				<key>PostNotification</key>
				<string>me.luki.aprilprefs/alphaChanged</string>
				<key>id</key>
				<string>AlphaSwitch</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSliderCell</string>
				<key>default</key>
				<real>1</real>
				<key>defaults</key>
				<string>me.luki.aprilprefs</string>
				<key>key</key>
				<string>cellAlpha</string>
				<key>min</key>
				<real>0</real>
				<key>max</key>
				<real>1</real>
				<key>showValue</key>
				<true/>
				<key>id</key>
				<string>AlphaValue</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>id</key>
				<string>GroupCell-4</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>me.luki.aprilprefs</string>
				<key>key</key>
				<string>setGradientAsBackground</string>
				<key>label</key>
				<string>Gradient</string>
				<key>id</key>
				<string>GradientSwitch</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>Please notice: the animation will return to it's starting point when switching pages. This is NOT a bug but the way UITableViews work and the gradient is placed. If I found a non hacky solution I'll add it.</string>
				<key>id</key>
				<string>GroupCell-5</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>me.luki.aprilprefs</string>
				<key>key</key>
				<string>setGradientAnimation</string>
				<key>label</key>
				<string>Animate Gradient</string>
				<key>id</key>
				<string>AnimateGradientSwitch</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>id</key>
				<string>GroupCell-6</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>GcColorPickerCell</string>
				<key>label</key>
				<string>First Color</string>
				<key>defaults</key>
				<string>me.luki.aprilprefs</string>
				<key>PostNotification</key>
				<string>me.luki.aprilprefs/gradientChanged</string>
				<key>key</key>
				<string>gradientFirstColor</string>
				<key>supportsAlpha</key>
				<true/>
				<key>fallback</key>
				<string>ffffff</string>
				<key>id</key>
				<string>FirstColor</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>GcColorPickerCell</string>
				<key>label</key>
				<string>Second Color</string>
				<key>defaults</key>
				<string>me.luki.aprilprefs</string>
				<key>PostNotification</key>
				<string>me.luki.aprilprefs/gradientChanged</string>
				<key>key</key>
				<string>gradientSecondColor</string>
				<key>supportsAlpha</key>
				<true/>
				<key>fallback</key>
				<string>ffffff</string>
				<key>id</key>
				<string>SecondColor</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>id</key>
				<string>GroupCell-7</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>detail</key>
				<string>PSListItemsController</string>
				<key>defaults</key>
				<string>me.luki.aprilprefs</string>
				<key>id</key>
				<string>GradientDirection</string>
				<key>default</key>
				<integer>0</integer>
				<key>key</key>
				<string>gradientDirection</string>
				<key>label</key>
				<string>Gradient Direction</string>
				<key>validValues</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
					<integer>4</integer>
					<integer>5</integer>
					<integer>6</integer>
					<integer>7</integer>
				</array>
				<key>validTitles</key>
				<array>
					<string>Bottom to Top</string>
					<string>Top to Bottom</string>
					<string>Left to Right</string>
					<string>Right to Left</string>
					<string>Upper Left Lower Right</string>
					<string>Lower Left Upper Right</string>
					<string>Upper Right Lower Left</string>
					<string>Lower Right Upper Left</string>
				</array>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>AprilTableCell</string>
				<key>detail</key>
				<string>AprilLinksRootListController</string>
				<key>isController</key>
				<true/>
				<key>label</key>
				<string>Take A Look</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>AprilTableCell</string>
				<key>detail</key>
				<string>AprilContributorsRootListController</string>
				<key>isController</key>
				<true/>
				<key>label</key>
				<string>Contributors</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerAlignment</key>
				<real>1</real>
				<key>footerText</key>
				<string>made by Luki with ❤️</string>
				<key>isStaticText</key>
				<true/>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerAlignment</key>
				<real>1</real>
				<key>footerText</key>
				<string>2021 © Luki120</string>
				<key>isStaticText</key>
				<true/>
			</dict>
		</array>
		<key>title</key>
		<string>April</string>
	</dict>
</plist>