Package: me.luki.april
Name: April
Version: 1.0.6
Architecture: iphoneos-arm
Description: Augment your settings app to the next level on the fly
Maintainer: Luki
Author: Luki
Section: Tweaks
Depends: mobilesubstrate, preferenceloader, com.mrgcgamer.libgcuniversal
Conflicts: com.midnightchips.bettersettings