Package: me.luki.april
Name: April
Version: 1.0
Architecture: iphoneos-arm
Description: ;)
Maintainer: Luki
Author: Luki
Section: Tweaks
Depends: mobilesubstrate, preferenceloader, com.mrgcgamer.libgcuniversal
